set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set vb t_vb=                                "关闭提示音
set nobackup                                "设置无备份文件
set noswapfile                              "设置无临时文件
set nowritebackup                           "无写入备份
set surround
set clipboard=unnamed
set scrolloff=3
set history=1000

" ===============< Hotkey mapping >======================
let mapleader = ";"
inoremap <ESC> <ESC>:nohl<CR>
inoremap <C-e> <C-y>
inoremap <C-y> <C-e>
" quick movements in Insert-Mode
inoremap II <Esc>I
inoremap AA <Esc>A
inoremap OO <Esc>o

nmap <Up> <Nop>
nmap <Down> <Nop>
nmap <Left> <Nop>
nmap <Right> <Nop>
noremap <silent> <expr> j (v:count == 0 ? 'gjzz' : 'j')
noremap <silent> <expr> k (v:count == 0 ? 'gkzz' : 'k')
noremap '' ''zz
vmap j gj
vmap k gk

nmap J gJ
nmap H ^
nmap L $
noremap gl gu
noremap gu gU

nnoremap <leader>sf :w!<CR>
nnoremap <leader><space> :nohl<CR>
" Move half page faster
nnoremap <leader>d  <C-d>zz
nnoremap <leader>f  <C-f>zz

" quickly way to move between buffers or tabs
nmap <Leader>wj <C-W>j
nmap <Leader>wk <C-W>k
nmap <Leader>wh <C-W>h
nmap <Leader>wl <C-W>l
" nmap sj <C-o>
" nmap sk <C-i>
" nmap su <C-r>

" " like o or O, but not change cursor position and mode
" nmap tj mQo<esc>`Qm<space>
" nmap tk mQ<S-o><esc>`Qm<space>
" nmap tt :tabnew!<CR>
" nmap tn :tabn<CR>
" nmap tp :tabp<CR>
nnoremap tn gt
nnoremap tp gT
" nmap tw vwP
" noremap cp ""P

nmap md <S-*>
nmap ms <S-#>
nmap mm ``

" Delete character end of current cursor
nmap dH d^
nmap dL d$
nmap d<CR> dG
nmap dj 2dd
nmap dk k2dd
nmap y<CR> yG
nmap yj 2yy
nmap yk k2yy
nmap yH y^
nmap yL y$
nmap yp yyp

nnoremap <CR> :
nnoremap zg :q!<CR>
nnoremap zf <S-z><S-z>
nnoremap zl <C-w>v
nnoremap zh <C-w>s

" space key to toggle whether fold
" nnoremap <space> @=((foldclosed(line('.')) < 0) ? 'zc' : 'zO')<CR>

vnoremap < <gv
vnoremap > >gv
vnoremap v <Esc>

" saving file as sudo when forgot to start vim using sudo
" nmap <Leader>sw :w !sudo tee > /dev/null %<CR>
" command! W w !sudo tee % > /dev/null


" ideavim call pycharm builtin function
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>ga :action GotoAction<CR>

nnoremap <leader>fp :action ShowFilePath<CR>
nnoremap <leader>pm :action ShowPopupMenu<CR>
